@using CloudMainASP.Models
@using Microsoft.AspNetCore.Identity
@using CloudMainASP.Controllers
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}


<div class="profile-edit">
    <div class="profile-image-bg">

    </div>
    <div class="profile-row">

        <div class="profile-row-left">
            <div class="profile-img-avatar">
                <img class="profile-imgs-avatar" src="~/img/@UserManager.GetUserAsync(User).Result.ProfilePicture" />
            </div>
            <span class="profile-span">
                @UserManager.GetUserAsync(User).Result.Name @UserManager.GetUserAsync(User).Result.Surname
            </span>
            <span class="profile-span">
                @UserManager.GetUserAsync(User).Result.JoinDate
            </span>
            <div class="profile-col-two">
                <partial name="_ManageNav" />
            </div>

        </div>
        <div class="profile-row-right">
            <div class="profile-col-one">
                
            </div>
            <div class="profile-col-two">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
