@page
@using CloudMainASP.Areas.Identity.Pages.Account
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div id="cm-reg-main">

    <div class="cm-reg-main-content">
        <form class="cm-reg-form" asp-route-returnUrl="@Model.ReturnUrl" method="post">



            <span class="cm-reg-form-span">Zarejestruj się by skorzystać z naszej aplikacji</span>
            <input class="cm-reg-form-class" asp-for="Input.Username" type="text" placeholder="Nazwa użytkownika">
            <input class="cm-reg-form-class" asp-for="Input.Name" type="text" placeholder="Imię">
            <input class="cm-reg-form-class" asp-for="Input.Surname" type="text" placeholder="Nazwisko">
            <input class="cm-reg-form-class" asp-for="Input.Password" type="password" placeholder="Hasło">
            <input class="cm-reg-form-class" asp-for="Input.ConfirmPassword" type="password" placeholder="Powtórz hasło">
            <input class="cm-reg-form-class" asp-for="Input.Email" type="email" placeholder="Email">
            <input class="cm-reg-form-class" asp-for="Input.BirthDate" type="date" placeholder="Data urodzenia">
            <input class="cm-reg-form-class" asp-for="Input.Phone" type="text" placeholder="Nr telefonu">
            <input class="cm-reg-form-class" asp-for="Input.PostCode" type="text" placeholder="Kod poctowy">
            <input class="cm-reg-form-class" asp-for="Input.City" type="text" placeholder="Miejscowość">
            <input class="cm-reg-form-class" asp-for="Input.Street" type="text" placeholder="Ulica">
            <input class="cm-reg-form-class" asp-for="Input.HouseNumber" type="text" placeholder="Nr Domu/Mieszkania">
            <div class="cm-reg-form-box">
                <input class="cm-reg-form-box-class" type="checkbox"><span class="span-box"> Oświadczam, że zapoznałem się z  <a class="cm-reg-regulamin" href="regulamin.php"> Regulaminem</a> , akceptuję jego treść i zobowiązuję się przestrzegać jego postanowień.</span>
            </div>
            <input class="cm-reg-form-class-submit" type="submit" value="Zarejestruj się">
            <a asp-action="signin"><input class="cm-reg-form-class-back" type="button" value="Wróć do logowania"></a>
        </form>
    </div>
</div>

            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
